* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/stars-galaxy-3840x2160-10307.jpg");
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.wrapper {
    overflow: hidden;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    padding: 20px;
    margin: auto auto;
}
img {
    ;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    z-index: 1;
    margin: auto auto;
}

.container {
    width: 300px;
    height: 300px;
    margin-top: -375px;
    margin-left: 75px;
    background: rgba(0, 0, 0, 0.51);
    border-radius: 50%;
    animation: animateMoon 5s ease-in-out infinite alternate;
    z-index: 2;
}

@keyframes animateMoon {
    0%   { transform: translateX(90%)  scale(0.8); }
    50%  { transform: translateX(0%)   scale(1); }
    100% { transform: translateX(-90%) scale(0.8); }
}
