body{
    background-color: #e8e4e4;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 300px;
    padding: 10px;
    margin: 10px 20px;
    border: 2px solid #bab3b3;
    border-radius: 30px;

}
.card img{
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
hr{
    border: none;
    height: 2px;
    background-color: #bab3b3;
    width: 95%;
}
.wrapper {
    display: flex;
    justify-content: center;
}

h3, .wrapper{
    font-family: "Kirang Haerang", system-ui;
    font-weight: 400;
    font-style: normal;
}
h3{
    font-size: 26px;
}
h1{
    font-size: 45px;
}
