.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9e2c6;
    width: 250px;
    height: 250px;
    margin: 20px;
    padding: 10px;
}

.rubik-pixels-regular {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}

.sedgwick-ave-display-regular {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.dancing-script-400 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 26px;
}

