.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: auto;
    min-width: 150px;
    padding: 10px;
    margin: 10px 80px;
}

body {
    background-image: url("imges/3098358.webp");
    background-size: cover;
    background-attachment: fixed;
}

.director {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
    max-width: 200px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
}

.info {
    font-size: 20px;
}

.card img, .director img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
}

.info, .card, .director {
    background: rgba(0, 0, 0, .65);
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: left;
}

h1, h2 {
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
    text-shadow: 5px 5px 5px black;
    color: #fff;
    text-align: center;
}
