@media screen and (max-width: 480px) {
    body {
        margin: 32px 16px;
    }

    section {
        flex-direction: row;
    }

    div {
        width: 91.46vw;
        height: auto;
        margin-bottom: 40px;
    }
}
