* {
    margin: 0;
}

.grid-wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 27% 46% 27%;
    grid-template-rows: 22% 26% 30% 22%;
    grid-template-areas:
    "header header header"
    "left top right"
    "left bottom right"
    "footer footer footer";
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

header, footer {
    background: #D9D9D9;
}


.right {
    background: #C0BDBD;
    grid-area: right;
}

.left {
    background: #C0BDBD;
    grid-area: left;
}

.top {
    background: #827878;
    grid-area: top;
}

.bottom {
    background: #B7ADAD;
    grid-area: bottom;
}
